<!-- Header -->
<header class='splash-bg'>
    <div class='logo_description'>
        <h1>CHESSMATE</h1>
        <p class="sub-text">Sign up today and become a Grandmaster!</p>
        <br>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn signup-btn', role: 'button' %>
        <p class='social'>
            <a href="https://github.com/chris-campbell" target="_blank"><i class="fa fa-github fa-2x social-p"></i></a>
            <a href="https://twitter.com/weeksndmedia" target="_blank"><i class="fa fa-twitter-square fa-2x social-p"></i></a>
            <a href="" target="_blank"><i class="fa fa-facebook-square fa-2x social-p"></i></a>
            <a href="https://chris-camp-portfolio.herokuapp.com/" target="_blank"><i class="fa fa-briefcase fa-2x social-p"></i></a>
        </p>
    </div>
</header>
<!-- Header -->

<!-- Instrution navigation -->
<section class='instruction-navigation'>
    <div class='row'>
        <div class='col-md-12'>
            <header>
                <h1>Learn the moves</h1>
                <p>Select a chess piece and learn how to move.</p>
            </header>
            <ul>
                <li>Pawn</li>
                <li>Knight</li>
                <li>Bishop</li>
                <li>Rook</li>
                <li>Queen</li>
                <li>King</li>
            </ul>
        </div>
    </div>
</section>
<!-- Instrution navigation -->


<!-- Instructions -->
<section class='instructions'>
    <div class='row'>
        <div class='col-sm-9 instruction-text'>
            <h1>The Pawn</h1>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
            </p>
        </div>
        <div class='col-sm-3 piece'>
            <%= image_tag 'pawn_move.png', class: 'piece-img' %>
        </div>
        <div class='col-sm-9 instruction-text'>
            <h1>The Knight</h1>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
            </p>
        </div>
        <div class='col-sm-3 piece'>
            <%= image_tag 'knight_moves.png', class: 'piece-img' %>
        </div>
        <div class='col-sm-9 instruction-text'>
            <h1>The Bishop</h1>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
            </p>
        </div>
        <div class='col-sm-3 piece'>
            <%= image_tag 'bishop_moves.png', class: 'piece-img' %>
        </div>
        <div class='col-sm-9 instruction-text'>
            <h1>The Rook</h1>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
            </p>
        </div>
        <div class='col-sm-3 piece'>
            <%= image_tag 'rook_moves.png', class: 'piece-img' %>
        </div>
        <div class='col-sm-9 instruction-text'>
            <h1>The Queen</h1>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
            </p>
        </div>
        <div class='col-sm-3 piece'>
            <%= image_tag 'queen_moves.png', class: 'piece-img' %>
        </div>
        <div class='col-sm-9 instruction-text'>
            <h1>The King</h1>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <p>
                "Sed ut perspiciatis unde omnis iste 
                natus error sit voluptatem accusantium 
                doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta
            </p>
        </div>
        <div class='col-sm-3 piece'>
            <%= image_tag 'king_moves.png', class: 'piece-img' %>
        </div>
    </div>
</section>