


<div class="row col-10 offset-1">
   <div class="start-button">
     <%= link_to 'Start Game', new_game_path, class: 'btn btn-primary button big' %>
    </div>
</div>

<div class='games-box'>
    <div class="row col-10 offset-1">
        <% @games.each do |game| %>
            <div class='game-item col-md-4'>
                <div class='users-avatars'>
                    <%= image_tag game.user.avatar, class: 'avatar-image' %>
                </div>
                <h3><%= game.name %></h3>
                <p><%= game.name.capitalize %>  -<%= link_to 'Enter', game_path(game) %></p>
            </div>
        <% end %>
    </div>
</div>