<div class='noticer'><p></p></div>

  <div class="center"></div>
  
    <h2 class='game-name'><%= @game.name %></h2>
    
    <!-- Displays users email and assigned color -->
    <div class='user-info'>
      <% if current_user.id == @game.white_id %>
        <p><%= image_tag current_user.avatar, class: "avatar-image-game" %>      <%= current_user.username %></p>
      <% else %>
        <p><%= current_user.email %> - Color Black</p>
      <% end %>
    </div>
    
    <!-- Generate board and populates pieces -->
    <%= render 'shared/board' %>



<script>
  $('.noticer p').html($('#board').data('turn')[0].toUpperCase() + $('#board').data('turn').substring(1) + ' Turn')
</script>